body {
    margin: 0;
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: purple;
}

h2 {
    font-size: 1.3em;
    color: mediumpurple;
    max-width: 50%;
    margin: auto;
}

hr {
    max-width: 30%;
}

.about {
    text-align: center;
}


.welcome p {
    max-width: 50%;
    margin: auto;
}

.how-to {
    
}

.how-to p {
    max-width: 50%;
    margin: auto;
}

.why p {
    max-width: 50%;
    margin: auto;
}

.next p {
    max-width: 50%;
    margin: auto;
}

.acknowledgements p {
    max-width: 50%;
    margin: auto;
}

.contact {
    text-align: center;
    border: 1.3px solid gold;
    max-width: 70%;
    margin: auto;
    padding: 3%;
    background-color: white;
}

.contact p {
    color: grey;
}

.contact a {
    text-decoration: none;
    color: purple;
}

footer {
    bottom: 0;
    color: grey;
    margin: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: grey;
}