body {
    margin: 0;
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: purple;
}

h2 {
    font-size: 1.3em;
    color: mediumpurple;
    max-width: 50%;
    margin: auto;
}

hr {
    max-width: 30%;
}

.about {
    text-align: center;
}


.welcome p {
    max-width: 50%;
    margin: auto;
}

.how-to {
    
}

.how-to p {
    max-width: 50%;
    margin: auto;
}