body {
    margin: 0;
    background-color: lemonchiffon;
}

h1 {
    text-align: center;
    font-family: rosario, sans-serif;
}

h1 a {
    text-decoration: none;
    color: purple;
}

h2 {
    font-size: 1.3em;
    color: purple;
    max-width: 50%;
    margin: auto;
    font-family: rosario, sans-serif;
    text-align: center;
}

hr {
    max-width: 30%;
}

.edits {
    font-family: rosario, sans-serif;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.edits a {
    text-decoration: none;
}

.edits b {
    color: purple;
}

.edits p {
    color: purple;
}

.about {
    text-align: center;
    font-size: 1.5em;
    color: purple;
}




.welcome p {
    max-width: 90%;
    margin: auto;
    font-family: rosario, sans-serif;
}

.how-to {
    display: flex;
    flex-flow: column;
}

.how-to p {
    max-width: 90%;
    margin: auto;
    font-family: rosario, sans-serif;
}

.how-to img {
    max-width: 30%;
    margin: auto;
}

.why p {
    max-width: 70%;
    margin: auto;
    font-family: rosario, sans-serif;
}

.next p {
    max-width: 70%;
    margin: auto;
    font-family: rosario, sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.wrapper img {
    max-width: 30%;
}

.acknowledgements p {
    max-width: 50%;
    margin: auto;
    font-family: rosario, sans-serif;
}

.contact {
    text-align: center;
    border: 1.3px solid gold;
    max-width: 70%;
    margin: auto;
    padding: 3%;
    background-color: white;
    font-family: rosario, sans-serif;
}

.contact-gif p {
    font-weight: 700;
    font-size: 1.3em;
    color: purple;
    text-align: center;
}


.contact p {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: purple;
}

.contact a:hover {
    color: mediumpurple;
}

footer {
    bottom: 0;
    color: grey;
    margin: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: grey;
}