body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    background-color: lemonchiffon
}

h1 {
    font-size: 3em;
    color: purple;
    padding: .3em;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

hr {
    max-width: 50%;
}

.accent {
    color: purple;
}

.description {
    display: flex;
    max-width: 90%;
    margin: auto;
    background-color: white;
    align-items: center;
    align-content: space-around;
}

.description div {
    margin: 3%;
}

.nah {
    max-width: 30%;
}

.links {
    display: flex;
    max-width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links p {
    color: mediumpurple;
}

.links p:hover {
    color: purple;
}

.links a {
    text-decoration: none;
    color: mediumpurple;
    font-style: oblique;
    text-align: center;
}

.links a:hover {
    color: purple;
}

.form {
    max-width: 90%;
    width: 90%;
}

.google-form {
    text-align: center;
    margin: auto;
}

textarea {
    width: 50em;
    height: 50em;
}

.question {
    font-family: 'IM Fell Double Pica', serif;
    margin: 1em;
}

.question p {
    font-size: 1.5em;
}

button {
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'IM Fell Double Pica', serif;
    display: block;
    margin: auto;
    max-width: 100%;
}

.contact {
    text-align: center;
    border: 1.3px solid gold;
    max-width: 70%;
    margin: auto;
    padding: 3%;
    background-color: white;
}

.contact p {
    color: grey;
}

.contact a {
    text-decoration: none;
    color: purple;
}

footer {
    bottom: 0;
    color: grey;
    margin: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: grey;
}