h1 a {
    text-decoration: none;
    color: purple;
}
hr {
    max-width: 30%;
}

h3 {
    color: purple;
    text-align: center;
    font-size: 3em;
    font-style: oblique;
}

.newsfeed p {
    text-align: center;
    font-style: oblique;
}