.support p {
    max-width: 70%;
    margin: auto;
    font-family: rosario, sans-serif;
    text-align: center;
    line-height: 2em;
    color: slategrey;
}

section {
    display: flex;
    margin: auto;
    max-width: 70%;
    flex-flow: column;
    text-align: center;
    line-height: 2em;
    font-style: oblique;
}

section hr {
    width: 30%;
}

.contact {
    line-height: 2em;
}